body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    padding: 60px 20px 60px;
    max-width: 680px;
    margin: 0 auto;
}
    
.main {
  display: flex;
  flex-direction: row;
}

.rightPanel {
  padding-left: 30px;
  padding-top: 50px;
}